@import "tailwindcss";
@theme {
  --breakpoint-tablet: 821px;
  --breakpoint-mobile: 500px;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f2f7f8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
@keyframes bounce-soft {
  0%,
  100% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(20px);
  }
}

.bounce-soft {
  animation: bounce-soft 4s infinite;
}

.foot {
  color: gray;
  ul {
    li {
      transition: all ease-in-out 300ms;
      cursor: pointer;
    }
  }
}
.foot {
  ul {
    li:hover {
      color: rgb(107, 107, 240);
    }
  }
}
